.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/Vjkyj2hBg/sand-clock-flat-shape-animation-on-blue-background-old-time_bt4kfp1q__F0005.png');
  padding: 6%;
  height: auto;
  color: white;
  width: 100%;
}

.inside-banner {
  margin: 5% auto 5% auto;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 5%;
}

.single-card {
  margin-left: 5%;
  margin-right: 5%;
}

.about {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.get-started {
  display: flex;
  justify-content: center;
  margin: 5% auto 5% auto;
}

.footer {
  padding: 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-msg {
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
}

.github {
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer-quote {
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
}
